@use "./styles/colors" as col;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
}

body {
  background-color: col.$lighthouse;
  padding: 64px 96px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: col.$verified-black;
}

p,
span {
  color: col.$shadow-gargoyle;
}
